<main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <h1 class="h2">File upload</h1>
    </div>
    <form id="uploadForm"
          enctype="multipart/form-data"
          action="/admin/media"
          method="post">
      <input type="file" name="userPhoto" />
      <input type="submit" value="Upload Image" name="submit">
      <span id = "status"></span>
    </form>
</main>

<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
  <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery.form/3.51/jquery.form.min.js"></script>
  <script>
  $(document).ready(function() {

     $('#uploadForm').submit(function() {
		 $("#status").empty().text("File is uploading...");

        $(this).ajaxSubmit({

            error: function(xhr) {
		            status('Error: ' + xhr.status);
            },

            success: function(response) {
					console.log(response)
					$("#status").empty().text(response);
            }
	});

	return false;
    });    
});
  </script>