<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="description" content="">
<meta name="author" content="">
<link rel="icon" href="/images/icon.ico">

<title>{{ title }} - Kejiya Rani</title>

<!-- Bootstrap core CSS -->
<link href="/css/bootstrap.min.css" rel="stylesheet">

<!-- Custom styles for this template -->
<link href="/css/product.css" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Montserrat|Quicksand" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="/css/minireset.min.css">
<link rel="stylesheet" type="text/css" href="/css/main.css">
<link rel="stylesheet" type="text/css" href="/css/animations.css">
<script defer type="text/javascript" src="/js/main.js"></script>
<script defer src="https://use.fontawesome.com/releases/v5.0.0/js/all.js"></script>
<link href="/css/style.css" rel="stylesheet">