<main role="main">
    <div class="album py-3 bg-light">
        <br><br>
        <div class="container text-center"> 
           <h1 class="display-1">404! Page not found</h1>
        </div>
        <br><br>
         <div class="container text-center"> 
            <p>
                The page ( <b>{{path}}</b> ) you are trying to access is not available.
            </p>
        </div>
        <br><br>
        <hr>
        <br><br>
         <div class="container text-center"> 
            <p>
                <a href="/" class="bc-item">Home</a>
            </p>
        </div>
        <br><br><br>
    </div>
</main>