<head>
    <meta charset="utf-8">
    <title>{{project.name}}</title>
    <link rel="icon" href="/images/favicon.ico">
    <link href="/projects/{{project.alias}}/css/style.css" rel="stylesheet" type="text/css">
    <link href="/css/demos.css" rel="stylesheet" type="text/css">
</head>
<body>
    {{{body}}}
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>
    <script src="/projects/{{project.alias}}/js/main.js"></script>
</body>