<!doctype html>
<html lang="en">
  <head>
    {{> header }}
    {{#each extraCss}}
      <link href="{{this}}" rel="stylesheet" type="text/css">
    {{/each}}
  </head>

  <body>
    {{> nav }}

    {{{body}}}
    
    {{#if showFooter}}
        {{> footer }}
    {{/if}}

    {{> scripts }}
    
    {{#each extraScripts}}
      <script src="{{this}}"></script>
    {{/each}}
  </body>
</html>
