<div class="center">
    <a href="/projects/{{project.alias}}" style="text-decoration:none;"> &larr; Go Back</a>
</div>
 <h1>Click on the below image to change it</h1>
<img src="/projects/{{project.alias}}/images/mean.jpg" alt="MEAN Stack course at ThruSkills">