<div class="center">
    <a href="/projects/{{project.alias}}" style="text-decoration:none;"> &larr; Go Back</a>
</div>

<div class="full-img">
    <img class="displayed-img" src="/projects/{{project.alias}}/images/pic1.jpg">
    <div class="overlay"></div>
    <button class="dark">Darken</button>
</div>

<div class="thumb-bar" style="padding-top:5px;"></div>