<div class="center">
    <a href="/projects/{{project.alias}}" style="text-decoration:none;"> &larr; Go Back</a>
    <button id="play">Play</button>
    <button id="pause">Pause</button>
</div>
<canvas id="mainCanvas">
    Your browser is not supported.
</canvas>