<div class="center">
    <a href="/projects/{{project.alias}}" style="text-decoration:none;"> &larr; Go Back</a>
</div>
<h2>Live output</h2>
<div class="output">
    <input type="text">
    <button>Search</button>
    <hr>
    <h2>Last 5 Searches</h2>
    <ol>
        <li>mani</li>
    </ol>
</div>